$main-font: 'Montserrat', sans-serif;

$main-text: rgb(144, 158, 163);
$black-text: rgb(0, 0, 0);
$white-text: rgb(255, 255, 255);
$white-text: rgb(255, 255, 255);
$section-text: rgb(0, 166, 166);

$topheader-bg: rgb(33, 51, 62);
$button-bg: rgb(233, 70, 73);
$section-dark-bg: rgb(17, 17, 23);
$section-light-bg: rgb(238, 244, 237);
$bg-text-dark: rgb(14, 39, 45);
$bg-text-light: rgb(204, 227, 222);
