@use './partials/variables' as *;

@import '@fontsource/montserrat/index.css'; 
@import '@fontsource/montserrat/700.css';


$fa-font-path: '../webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
 @import '@fortawesome/fontawesome-free/scss/solid.scss';
 @import "@fortawesome/fontawesome-free/scss/brands.scss";
 @import 'bootstrap/scss/bootstrap';


 
 
 body{
    font-family: $main-font;
    color: $main-text;
 }

 .mybtn {
    text-transform: uppercase;
    border: 2px solid $button-bg;
    background-color: $button-bg;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.secondbtn{
    text-transform: uppercase;
    border: 2px solid $button-bg;
    background-color: rgba(255, 255, 255, 0);
    color: $button-bg;
    border-radius: 5px;
}